@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    /* inherit 부모, 조상값 상속 */
}
body {
    color: #333;
}
 
.header {
    width: 1280px;
    height: 100px;
    border-bottom: 1px solid #333;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {}
.header .logo a {}

.header .nav {}
.header .nav .gnb {
    display: flex;
    gap: 20px;
}
.header .nav .gnb li {}
.header .nav .gnb li a {}


/* main_visual  */
.main_visual {
    height: 100vh;
}
.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .section-01 */
.section-01 {
    width: 1280px;
    margin: 100px auto;
    /* background-color: aquamarine; */
}
.section-01 h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.section-01 .item_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
}
.section-01 .item_wrap .item  {
    width: 600px;
    height: 600px;
    background-color: thistle;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}
.section-01 .item_wrap .item h3 {}


/* .section-02 */
.section-02 {
    background: url('../img/image-02.jpg') center center / cover no-repeat;
    padding: 100px 0;   
}
.section-02 h2 {
    width: 600px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.521);
    backdrop-filter: blur(7px);
    margin: 0 auto;
    font-size: 40px;
    text-align: center;
    line-height: 600px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.394);

}

/* .section-03 */
.section-03 {
    width: 1280px;
    margin: 100px auto;
}
.section-03 h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.section-03 .item_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}
.section-03 .item_wrap .item {
    width: 299px;
}
.section-03 .item_wrap .item img  {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.section-03 .item_wrap .item .text {
    margin-top: 16px;
}
.section-03 .item_wrap .item .text h3 {
    font-size: 18px;
}
.section-03 .item_wrap .item .text p {
    font-size: 14px;
}
.section-03 .item_wrap .item .text strong {
    font-size: 14px;
}


/* .footer */ 
.footer {
    background-color: #c6c6c6;
    padding: 50px 0;
}
.footer p {
    width: 1280px;
    margin: 0 auto;
}
